In [1]:
#dependencies and set up
import pandas as pd

#file to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#read school and student data file and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#combine data
school_data_complete = pd.merge(student_data, school_data)

District Summary

In [2]:
#total number of schools
school_count = school_data["school_name"].count()
school_count

15

In [3]:
#total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [4]:
#total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
#average math score
average_mathscore = school_data_complete["math_score"].mean()
average_mathscore

78.98537145774827

In [6]:
#average reading score
average_readingscore = school_data_complete["reading_score"].mean()
average_readingscore

81.87784018381414

In [7]:
#calculate the percentage of students with a passing math score 
passing_mathscore = len(school_data_complete[school_data_complete["math_score"] >= 70])
passing_mathscore

29370

In [8]:
#calculate the percentage of students with a passing reading score
passing_readingscore = len(school_data_complete[school_data_complete["reading_score"] >= 70])
passing_readingscore

33610

In [9]:
#calculate the number of students who passed both math and reading
passing_mathreading = (passing_mathscore + passing_readingscore)
passing_mathreading

62980

In [10]:
#calculate the passing math percentage
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
number_students_passing_math = students_passing_math["Student ID"].count()
percent_passing_math = (number_students_passing_math / student_count) * 100
percent_passing_math

74.9808526933878

In [11]:
#calculate the passing reading percentage
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
number_students_passing_reading = students_passing_reading["Student ID"].count()
percent_passing_reading = (number_students_passing_reading / student_count) * 100
percent_passing_reading

85.80546336482001

In [12]:
#overall passing percentage
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]["Student ID"].count()/student_count*100
overall_passing

65.17232575950983

In [13]:
#create a dataframe from above data
district_summary = pd.DataFrame({ "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_mathscore],
    "Average Reading Score": [average_readingscore],
    "Passing Math": [percent_passing_math],
    "Passing Reading": [percent_passing_reading],
    "Overall Passing": [overall_passing]})

In [14]:
district_summary[["Total Schools", "Total Students","Total Budget","Average Math Score",
                     "Average Reading Score","Passing Math","Passing Reading", "Overall Passing"]]

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [15]:
#school name
school_name = school_data_complete.set_index("school_name").groupby(["school_name"])

In [16]:
#school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [17]:
#total students per school 
total_students = school_data.set_index(["school_name"])["size"]
total_students

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [18]:
#total school budget 
total_budget = school_data.set_index(["school_name"])["budget"]
total_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [19]:
#budget per student 
student_budget = total_budget / total_students
student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [20]:
#average math scores per school 
average_mathscore_perschool = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_mathscore_perschool

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [21]:
#calculate the passing math percentage
passing_math_percentage = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
passing_math_percent = passing_math_percentage / total_students *100
passing_math_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [22]:
#average reading score per school
average_readingscore_perschool = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_readingscore_perschool

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [23]:
#calculate the passing reading percentage
passing_read_percentage = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
passing_read_percent = passing_read_percentage / total_students *100
passing_read_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [24]:
#percentage that passed both math and reading 
passing_mathreading_percent = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["Student ID"].count()
passing_mathreading_percentage = passing_mathreading_percent / total_students *100
passing_mathreading_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [25]:
#create a dataframe to hold the above results
school_summary = pd.DataFrame({ "School Type": school_types, "Total School Budget": total_budget,
                               "Budget Per Student": student_budget,
    "Average Math Score": average_mathscore_perschool, "Average Reading Score": average_readingscore_perschool,
    "Passing Math": passing_math_percent,"Passing Reading": passing_read_percent,
    "Overall Passing": passing_mathreading_percentage})

In [26]:
school_summary[["School Type","Total School Budget", "Budget Per Student","Average Math Score","Average Reading Score","Passing Math","Passing Reading","Overall Passing"]]

,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,
Bailey High School,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

Highest Performing Schools

In [27]:
#highest performing schools 
highest_performing = school_summary.sort_values(["Overall Passing"], ascending = False)
highest_performing

,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,
Cabrera High School,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

Lowest Performing Schools

In [28]:
#lowest performing schools 
lowest_performing = school_summary.sort_values(["Overall Passing"], ascending = True)
lowest_performing

,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,
Rodriguez High School,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769

Math Scores by Grade

In [29]:
#create a table for average math scores by grade 
ninth_grade_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
tenth_grade_scores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
eleventh_grade_scores= school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
twelth_grade_scores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

In [30]:
#create data frame from above data 
grade_summary = pd.DataFrame({"9th": ninth_grade_scores,
      "10th": tenth_grade_scores,
      "11th": eleventh_grade_scores,
      "12th": twelth_grade_scores})

grade_summary[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

Reading Scores by Grade

In [31]:
#create a table for average reading scores by grade 
ninth_grade_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
tenth_grade_scores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
eleventh_grade_scores= school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
twelth_grade_scores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

In [32]:
#create data frame from above data 
grade_summary = pd.DataFrame({"9th": ninth_grade_scores,
      "10th": tenth_grade_scores,
      "11th": eleventh_grade_scores,
      "12th": twelth_grade_scores})

grade_summary[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

Scores by School Spending

In [33]:
#create bins to group school spending
spending_bins = [0, 565, 600, 635, 675]
group_names = ["<$565", "$565-600", "$600-635", "$635-675"]

In [40]:
school_data_complete["spending_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], spending_bins, labels = group_names)

by_spending = school_data_complete.groupby("spending_bins")

avg_math = by_spending["math_score"].mean()
avg_read = by_spending["reading_score"].mean()
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()*100
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()*100
overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()*100
               
scores_by_spend = pd.DataFrame({ "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "Passing Math": pass_math,
    "Passing Reading": pass_read,
    "Overall Passing": overall })

ValueError: Bin labels must be one fewer than the number of bin edges

In [35]:
#create data frame from above data
scores_by_spend[[ "Average Math Score","Average Reading Score", "Passing Math","Passing Reading", "Overall Passing"]]

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
spending_bins,,,,,
<$565,NaN,NaN,NaN,NaN,NaN
$565-600,83.362283,83.912412,93.738467,96.506335,90.478534
$600-635,79.179989,81.976641,75.600864,86.767486,66.432622
$635-675,77.418997,81.147112,68.335096,81.823567,56.073620

Scores by school size

In [36]:
#create bins to group school size 
size_bins = [0,1000,3000,5000]
group_names= ["Small (<1000)","Medium (1000-3000)","Large(3000-5000)"]

In [37]:
school_data_complete["size_bins"] = pd.cut(school_data_complete["total_students"]

school_size = school_data_complete.groupby("total_students")

avg_math = by_size["math_score"].mean()
avg_read = by_size["reading_score"].mean()
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("size_bins")["Student ID"].count()/by_size["Student ID"].count()*100
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("size_bins")["Student ID"].count()/by_size["Student ID"].count()*100
overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("size_bins")["Student ID"].count()/by_size["Student ID"].count()*100
               
scores_by_size = pd.DataFrame({ "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "Passing Math": pass_math,
    "Passing Reading": pass_reading,
    "Overall Passing": overall })

SyntaxError: invalid syntax (2318283106.py, line 3)

In [38]:
#create data frame from above data
scores_by_size[[ "Average Math Score","Average Reading Score", "Passing Math","Passing Reading", "Overall Passing"]]

NameError: name 'scores_by_size' is not defined

Scores by school Type

In [39]:
#scores by school type names

type_bins = [district, charter]
group_names = ["district", "charter"]

NameError: name 'district' is not defined

In [ ]:
school_data_complete["type_bins"] = pd.cut(school_data_complete["school_type"]
                                        
type_summary[["Average Math Score",
                "Average Reading Score",
                "% Passing Math",
                "% Passing Reading",
                "% Overall Passing Rate"]]

Written description of 2 trends

1- the charter schools were in the top schools for performance rates while the district schools fell in the bottom. This could be attributed to the fact that most of the charter schools had lower overall counts of students. 
2- the district schools mostly had a higher budget per student, but that didn't coorelate to higher passing rates.